/*
 * Global utility classes
 */

@each $class, $prop, $value in $utils {
  .#{$class} {
    #{$prop}: #{$value};
  }

  @if variable_exists(tif-compiled-global-has-bp) {
    // loop for each breakpoint
    @each $bp, $bpv in $global-breakpoints {
        @media (min-width: #{$bpv}) {
        .#{$bp}\:#{$class} {
          #{$prop}: #{$value};
        }
      }
    }
  } @else {
      @media (min-width: #{$large}) {
      .lg\:#{$class} {
      #{$prop}: #{$value};
      }
    }
  }
}

// multi-properties utils
.is-unstyled {
  list-style: none;
  padding-left: 0;
}
.is-disabled,
[disabled] {
  opacity: 0.6;
  cursor: not-allowed !important;
  filter: grayscale(1);
}
// .text-normal {
//   font-weight: normal;
//   font-style: normal;
//   text-transform: none;
// }

@if variable_exists(tif-compiled-global-has-bp) {
  @each $bp, $bpv in $global-breakpoints {
      @media (min-width: #{$bpv}) {
      .#{$bp}\:visually-hidden {
        position: absolute !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        padding: 0 !important;
        overflow: hidden !important;
        clip: rect(0, 0, 0, 0) !important;
      }
      .#{$bp}\:is-unstyled {
        list-style: none;
        padding-left: 0;
      }
      .#{$bp}\:is-disabled {
        opacity: 0.6;
        cursor: not-allowed !important;
        filter: grayscale(1);
      }
      // .#{$bp}\:text-normal {
      //   font-weight: normal;
      //   font-style: normal;
      //   text-transform: none;
      // }
    }
  }
}

// Tif
// Blocks that must contain floats
.clearfix::after,
.u-clearfix::after {
  content: "";
  display: table;
  clear: both;
  border-collapse: collapse;
}
.clear {
  clear:both;
}
.tif-boxed {
  width: 100%;
  max-width: $tif-width-primary;
  margin: 0 auto;
}
.tif-boxed.wide {
  max-width: $tif-width-wide;
}
// Tif
