// ==Mixins
// Respond-to mixin
// ex. @include respond-to("medium-up") {...}

$bp-aliases: (
  'small' : (max-width: #{$small - 1}),
  'medium' : (max-width: #{$medium - 1}),
  'large' : (max-width: #{$large - 1}),
  'extra-large' : (max-width: #{$extra-large - 1}),
  'small-up' : (min-width: #{$small}),
  'medium-up' : (min-width: #{$medium}),
  'large-up' : (min-width: #{$large}),
  'extra-large-up' : (min-width: #{$extra-large})
  );

// Source : https://www.sitepoint.com/managing-responsive-breakpoints-sass/
@mixin respond-to($name) {

  // If the key exists in the map
  @if map-has-key($bp-aliases, $name) {

    // Prints a media query based on the value
    @media #{inspect(map-get($bp-aliases, $name))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$name}`. "
    +"Please make sure it is defined in `$bp-aliases` map.";
  }
}

@mixin tif-declaration($property, $value, $important:false) {
  @if ( $important and $important == 'true' ){
	  $important: !important;
  } @else {
	  $important: null;
  }
  @if $value {
	#{$property}: $value $important;
  }
}

@if variable_exists(tif-is-editor-css) {
	$tif-editor-wrap: '.editor-styles-wrapper';
	$tif-editor-root: '.editor-styles-wrapper';
	$wp-block: '.wp-block';
	$px-only: true;
} @else {
	$tif-editor-wrap: null;
	$tif-editor-root: ':root';
	$wp-block: null;
	$px-only: false;
}

$pixelBase: 16; /* 1 */

@function parseInt($n) {
  @return $n / ($n * 0 + 1); /* 2 */
}

@function remtopx($values){ /* 3 */
  $list: (); /* 4 */
  @each $value in $values { /* 5 */
	@if ( $value == 'false' ){ $value: 0; }
    @if (type-of($value) == "number") and ($value != 0) { /* 6 */
      $unit : unit($value);     /* 7 */
      $val  : parseInt($value); /* 2 */
      @if ($px-only == true) and ($unit == 'rem') { /* 8 */
        $list: append($list, ($val * $pixelBase) + px); /* 8 */
      }
      @else if($unit == 'px') or ($unit == 'rem'){ /* 9 */
        $list: append($list, $value); /* 9 */
      }
      @else {
        @warn 'There is no unit conversion for "#{$unit}"'; /* 10 */
      }
    }@else {
      $list: append($list, $value); /* 11 */
    }
  }
  @return $list(); /* 12 */
}
