
/* ----------------------------- */
/* Tif - Slider	                 */
/* ----------------------------- */

.tif-slider .customize-partial-edit-shortcut-button {
	margin-left: 40px;
}
.tif-slider .tif-boxed {
	max-width: $tif-width-primary;
	margin: auto;
}
.tif-slider .inner {
	position: relative;
	overflow: hidden;
}
.tif-slider ul.slide-list {
	position:relative;
	display: flex;
	padding:0;
	margin:0;
	width:500%;
	height:100%;
	list-style:none;
	display: flex;
	justify-content: flex-start;
}
.tif-slider.no-js ul.slide-list {
	justify-content: flex-start;
	transition:left .8s cubic-bezier(0.77, 0, 0.175, 1);
}
.tif-slider li.slide-item {
	display: flex;
	position: relative;
	width: 20%;
}
.tif-slider .tif-cover .wrap-content {
	@include tif-declaration('gap', $tif-slider-alignment-gap);
	@include tif-declaration('padding', $spacer-medium-plus);
	@include tif-declaration('align-items', $tif-slider-alignment-align-items);
	@include tif-declaration('justify-content', $tif-slider-alignment-justify-content);
	@if $tif-slider-alignment-align-items == "center" {
		text-align: center;
	} @else if $tif-slider-alignment-align-items == "end" {
		text-align: right;
	}
}
.tif-slider .tif-cover .wrap-content .flex {
	@include tif-declaration('justify-content', $tif-slider-alignment-align-items);
}
.tif-slider.has-arrow .wrap-content {
	padding: $spacer-medium-plus $spacer-large-plus;
}
@if variable_exists(tif-slider-hide-thumbnail-breakpoint) {
	@media (max-width: #{$tif-slider-hide-thumbnail-breakpoint - 1}) {
		.tif-slider .entry-thumbnail img {
			opacity: 0 !important;
		}
	}
}

// No-js Pager
.tif-slider.no-js .inner > label {
	position: absolute;
	left: calc(50% - 27px);
	bottom: 0;
	width: 10px;
	height: 10px;
	z-index: 10;
	margin-left: 6px;
	margin-bottom: 6px;
}
.tif-slider.no-js .inner > label ~ label {
	margin-left: 22px;
}
.tif-slider.no-js .inner > label ~ label ~ label {
	margin-left: 38px;
}
.tif-slider.no-js .inner > label ~ label ~ label ~ label {
	margin-left: 54px;
}
.tif-slider.no-js .inner > label ~ label ~ label ~ label ~ label {
	margin-left: 70px;
}

// No-js Animation
.tif-slider.no-js input[type="radio"]#bullet1:checked ~ ul.slide-list {
	left: 0 !important;
}
.tif-slider.no-js input[type="radio"]#bullet2:checked ~ ul.slide-list {
	left: -100% !important;
}
.tif-slider.no-js input[type="radio"]#bullet3:checked ~ ul.slide-list {
	left: -200% !important;
}
.tif-slider.no-js input[type="radio"]#bullet4:checked ~ ul.slide-list {
	left: -300% !important;
}
.tif-slider.no-js input[type="radio"]#bullet5:checked ~ ul.slide-list {
	left: -400% !important;
}
.tif-slider.no-js input[type="radio"] + label {
	background-color: transparent;
	border-radius: 50%;
	border: 1px solid #ffffff;
}

/* Arrows (No-js & JS ) */
.tif-slider.no-js .arrows label,
.tif-slider.js .arrow-button {
	position: absolute;
	visibility: hidden;
	display: grid;
	place-content: center;
	font-size: 3rem;
	top: 50%;
	height: 50%;
	transform: translateY(-50%);
	padding: 0 1%;
	background: none;
	border: none;
	font-family: sans-serif;
	z-index: 20;
}
.tif-slider.no-js .arrows label::before,
.tif-slider.js .arrow-button.next::before {
	content:' \203A ';
}
.tif-slider.no-js input[type="radio"]#bullet1:checked ~ .arrows label[for=bullet5]::before,
.tif-slider.no-js input[type="radio"]#bullet2:checked ~ .arrows label[for=bullet1]::before,
.tif-slider.no-js input[type="radio"]#bullet3:checked ~ .arrows label[for=bullet2]::before,
.tif-slider.no-js input[type="radio"]#bullet4:checked ~ .arrows label[for=bullet3]::before,
.tif-slider.no-js input[type="radio"]#bullet5:checked ~ .arrows label[for=bullet4]::before,
.tif-slider.js .arrow-button.prev::before {
	content:' \2039 ';
}
.tif-slider.no-js input[type="radio"]#bullet1:checked ~ .arrows label[for=bullet2],
.tif-slider.no-js input[type="radio"]#bullet2:checked ~ .arrows label[for=bullet3],
.tif-slider.no-js input[type="radio"]#bullet3:checked ~ .arrows label[for=bullet4],
.tif-slider.no-js input[type="radio"]#bullet4:checked ~ .arrows label[for=bullet5],
.tif-slider.no-js input[type="radio"]#bullet5:checked ~ .arrows label[for=bullet1],
.tif-slider.js .arrow-button.next {
	right: 0;
	visibility: visible;
}
.tif-slider.no-js input[type="radio"]#bullet1:checked ~ .arrows label[for=bullet5],
.tif-slider.no-js input[type="radio"]#bullet2:checked ~ .arrows label[for=bullet1],
.tif-slider.no-js input[type="radio"]#bullet3:checked ~ .arrows label[for=bullet2],
.tif-slider.no-js input[type="radio"]#bullet4:checked ~ .arrows label[for=bullet3],
.tif-slider.no-js input[type="radio"]#bullet5:checked ~ .arrows label[for=bullet4],
.tif-slider.js .arrow-button.prev {
	left: 0;
	visibility: visible;
}

// JS Controls
.tif-slider.no-js .slider-controls {
	visibility: hidden;
	height: 0;
	overflow: hidden;
}
.tif-slider.js .slider-pager {
	position: absolute;
	display: flex;
	justify-content: center;
	gap: .625rem;
	width: 100%;
	bottom: 10px;
	z-index: 10;
}
.tif-slider.js .slider-pager button {
	border: none;
	border-radius: 50%;
	padding: 0;
	width: 2rem;
	line-height: 2rem;
	background: #fff;
	color: #999999;
	font-size: small;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.tif-slider.js li.slide-item {
	visibility: hidden;
}
.tif-slider.js ul.in-transition li.slide-item,
.tif-slider.js li.slide-item.current {
	visibility: visible;
}
