/* Tif - Slider CSS */

.rtl .tif-slider ul {
	-webkit-transition:right .8s cubic-bezier(0.77, 0, 0.175, 1);
	   -moz-transition:right .8s cubic-bezier(0.77, 0, 0.175, 1);
		 -o-transition:right .8s cubic-bezier(0.77, 0, 0.175, 1);
		    transition:right .8s cubic-bezier(0.77, 0, 0.175, 1);
}
.rtl .tif-slider label {
	margin-right:70px;
	right:calc(50% - #{ ($tif-slider-how-many * 18 ) / 2 }px);
}
.rtl .tif-slider label ~ label {
	margin-right:54px
}
.rtl .tif-slider label ~ label ~ label {
	margin-right:38px
}
.rtl .tif-slider label ~ label ~ label ~ label {
	margin-right:22px
}
.rtl .tif-slider label ~ label ~ label ~ label ~ label {
	margin-right:6px
}
.rtl .tif-slider input[type="radio"]#bullet1:checked ~ ul {right:0}
.rtl .tif-slider input[type="radio"]#bullet2:checked ~ ul {right:-100%}
.rtl .tif-slider input[type="radio"]#bullet3:checked ~ ul {right:-200%}
.rtl .tif-slider input[type="radio"]#bullet4:checked ~ ul {right:-300%}
.rtl .tif-slider input[type="radio"]#bullet5:checked ~ ul {left:-400%}

.rtl .tif-slider .arrows label::before {
	content:'\f053';
	font-family:"ForkAwesome";
	font-size:3rem;
}
.rtl .tif-slider input[type="radio"]#bullet1:checked ~ .arrows label[for=bullet5]::before,
.rtl .tif-slider input[type="radio"]#bullet2:checked ~ .arrows label[for=bullet1]::before,
.rtl .tif-slider input[type="radio"]#bullet3:checked ~ .arrows label[for=bullet2]::before,
.rtl .tif-slider input[type="radio"]#bullet4:checked ~ .arrows label[for=bullet3]::before,
.rtl .tif-slider input[type="radio"]#bullet5:checked ~ .arrows label[for=bullet4]::before {
	content:'\f054';
}
.rtl .tif-slider .arrows label {
	right: -50%;
}
.rtl .tif-slider input[type="radio"]#bullet1:checked ~ .arrows label[for=bullet2],
.rtl .tif-slider input[type="radio"]#bullet2:checked ~ .arrows label[for=bullet3],
.rtl .tif-slider input[type="radio"]#bullet3:checked ~ .arrows label[for=bullet4],
.rtl .tif-slider input[type="radio"]#bullet4:checked ~ .arrows label[for=bullet5],
.rtl .tif-slider input[type="radio"]#bullet5:checked ~ .arrows label[for=bullet1] {
	float:left;
	margin-left:-50%;
	display:block;
	-webkit-transition:margin 1s;
	transition:margin 1s;
}
.rtl .tif-slider input[type="radio"]#bullet1:checked ~ .arrows label[for=bullet5],
.rtl .tif-slider input[type="radio"]#bullet2:checked ~ .arrows label[for=bullet1],
.rtl .tif-slider input[type="radio"]#bullet3:checked ~ .arrows label[for=bullet2],
.rtl .tif-slider input[type="radio"]#bullet4:checked ~ .arrows label[for=bullet3],
.rtl .tif-slider input[type="radio"]#bullet5:checked ~ .arrows label[for=bullet4] {
	float:right;
	margin-right:50%;
	display:block;
	-webkit-transition:margin 1s;
			transition:margin 1s;
}
