/* ----------------------------- */
/* Tif Cover                     */
/* ----------------------------- */

@import '../abstracts/_mixins';

.tif-cover [class*="title"],
.tif-cover .inner,
.tif-cover p,
.tif-cover ul,
.tif-cover ol {
	margin: 0;
	padding: 0;
}
.tif-cover,
.tif-cover .wrap-cover {
	position: relative;
	width: 100%;
	height: 100%;
}
.tif-cover .wrap-content {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	gap: $gap-large;
}
.tif-cover.col-layout .wrap-content,
.tif-cover.media-text-layout .wrap-content,
.tif-cover.text-media-layout .wrap-content {
	position: relative;
}
.tif-cover .has-background {
	padding: $spacer-small;
	display: inline-table;
}
.tif-cover.text-media-layout .wrap-content {
	order: -1;
}

@media (max-width: #{$large - 1}) and (min-width: $small) {

	.tif-cover.media-text-layout .wrap-content,
	.tif-cover.text-media-layout .wrap-content {
		position: absolute;
	}
	.tif-cover.media-text-layout .wrap-content {
		left: 50%;
	}
	.tif-cover.text-media-layout .wrap-content {
		right: 50%;
	}

}
// .has-object-fit {
// 	display: flex;
// 	overflow: hidden;
// 	height: 100%;
// 	width: 100%;
// }
// .has-object-fit.entry-thumbnail a,
// .has-object-fit.entry-thumbnail img {
// 	height: 100%;
// 	width: 100%;
// }
.has-background-attachment img {
	opacity: 0;
}
