.tif-jscolor-input-text {
	max-width: 170px;
	background: #f6f7f7 !important;
	color: #50575e !important;
}
.tif-jscolor-input-text.jscolor.jscolor-active {
	background: #fff !important;
	color: #000 !important;
}
.tif-jscolor-input-number {
	display: none;
}
.jscolor-picker-wrap {
	z-index: 999999 !important;
}
.jscolor-picker-shadow {
	box-shadow: rgba(30, 30, 30, 0.2) 0px 0px 3px 3px !important;
}
.jscolor-picker .jscolor-palette-sample,
.jscolor-picker .jscolor-palette-sample div {
	border-radius: 50%;
}
.jscolor-picker .jscolor-palette-sample {
	border: 1px solid #606060 !important;
}
.jscolor-picker-shadow {
	box-shadow: rgba(30, 30, 30, 0.2) 0px 0px 3px 3px !important;
}
.jscolor-picker .jscolor-palette-sample,
.jscolor-picker .jscolor-palette-sample div {
	width: 30px !important;
	border-radius: 50%;
}
.jscolor-palette {
	display: flex !important;
	flex-wrap: wrap;
	gap: 5px;
	max-width: 200px;
}
.jscolor-palette-sample {
	display: flex !important;
	flex-direction: row !important;
	position: relative !important;
	left: unset !important;
	top: unset !important;
	border: 1px solid rgb(187, 187, 187);
	cursor: pointer;
}
